/*
 * Legal Disclaimer
 *
 * These web fonts are licensed exclusively for use on the following:
 * All domains belonging to Petco
 *
 * It is strictly forbidden to download or use these fonts on any other website domain or media.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2020
 */

@font-face {
  font-family: PetcoCircularTT-Regular;
  src: url(fonts/PetcoCircularTT-Regular.woff);
}

@font-face {
  font-family: PetcoCircularTT-Bold;
  src: url(fonts/PetcoCircularTT-Bold.woff);
}
body {
  margin: 0;
  padding: 0;
  font-family: "PetcoCircularTT-Regular", arial !important;
}

/* common style */
.citrusEmbark__Wrapper {
  font-family: "PetcoCircularTT-Regular", arial !important;
  font-size: 16px;
  background: #fff;
  /* overflow: hidden; */
}
.citrusEmbark__desktop_hide {
  display: none;
}
.citrusEmbark__mobile_hide {
  display: block;
}
.citrusEmbark__wrapper a {
  text-decoration: none;
  color: #000;
}
h2.citrusEmbark__sectionTitle {
  margin: 0;
  padding: 0;
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #000;
}
p.citrusEmbark__sectionSubtitle {
  width: 515px;
  margin: 20px auto;
  font-family: "PetcoCircularTT-Regular";
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  color: #000;
}
/* POV style */
.citrus_Embark_carousel {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.citrus_Embark_carousel
  .citrus_Embark_carousel-inner
  .citrus_Embark_carousel-item {
  justify-content: flex-start;
  flex: 1;
}
.citrus_Embark_carousel-inner {
  display: flex;
  transition: all ease 0.5s;
}
.citrus_Embark_carousel-item {
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* pov text */
.citrusEmbark__pov-img {
  position: relative;
}
.citrusEmbark__pov-img img {
  width: 100%;
  text-align: center;
  object-fit: contain;
}
.citrusEmbark_pov-text {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
}
.citrusEmbark_pov-text__wrapper {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  top: -5%;
}
.citrusEmbark_pov-logo img {
  width: 275px;
  object-fit: contain;
}
h1.citrusEmbark_pov-text__title {
  margin: 0;
  font-family: "PetcoCircularTT-Bold";
  font-size: 2rem;
  font-weight: bolder;
  color: #000;
}
p.citrusEmbark_pov-text__subhead {
  margin: 10px 0;
  width: 431px;
  max-width: 95%;
  font-family: "PetcoCircularTT-Bold";
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}
.citrusEmbark_pov-cta {
  padding-top: 15px;
  position: relative;
}
.citrusEmbark_pov-cta a {
  font-family: "PetcoCircularTT-Bold";
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #001952;
  padding: 18px 22px 16px;
  border-radius: 7px;
}
.citrusEmbark_pov-text p.citrusEmbark__disclaimer {
  margin-top: 20px;
}
/* indicator styling */
.citrus_Embark_carousel-indicators {
  position: absolute;
  bottom: 0;
  left: calc(100% / 2 - 52px);
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 5px;
}

.citrus_Embark_carousel-indicators span {
  display: inline-block;
  border: 2px solid #09205c;
  padding: 7px;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 5px;
}

.citrus_Embark_carousel-indicators span.active {
  background-color: #09205c;
}
@media screen and (min-width: 1800px) {
  .citrusEmbark_pov-logo img {
    width: 375px;
    object-fit: contain;
  }
  h1.citrusEmbark_pov-text__title {
    font-size: 2.5rem;
  }
  p.citrusEmbark_pov-text__subhead {
    width: 75%;
    margin: 20px 0;
    font-size: 1.5rem;
  }
  .citrusEmbark_pov-cta {
    margin-top: 20px;
  }
  .citrusEmbark_pov-cta a {
    font-size: 18px;
    padding: 20px 24px 18px;
  }
}
@media screen and (min-width: 922px) and (max-width: 1240px) {
}
@media screen and (min-width: 769px) and (max-width: 1240px) {
  .citrusEmbark__pov-img img {
    height: 240px;
    object-fit: cover;
  }
  .citrusEmbark_pov-logo img {
    width: 175px;
    object-fit: contain;
  }
}

@media only screen and (max-width: 768px) {
  .citrus_Embark_carousel
    .citrus_Embark_carousel-inner
    .citrus_Embark_carousel-item {
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
  }
  .citrus_Embark_carousel .citrus_Embark_carousel-inner {
    background: #ffd719;
  }
  .citrusEmbark_pov-text {
    position: relative;
    height: fit-content;
    margin-bottom: 80px;
  }
  .citrusEmbark_pov-text__wrapper {
    flex-direction: column;
    top: 0;
    text-align: center;
  }
  .citrusEmbark_pov-logo img {
    width: 175px;
  }
  h1.citrusEmbark_pov-text__title {
    font-size: 1.5rem;
  }
  p.citrusEmbark_pov-text__subhead {
    width: 95%;
    margin: 10px auto;
  }
  .citrusEmbark_pov-cta a {
    background-color: unset;
    text-transform: capitalize;
    color: #001952;
    text-decoration: underline;
    padding: 0;
  }
  .citrusEmbark_pov-text p.citrusEmbark__disclaimer {
    margin-top: 0px;
  }
}
/* choose test type section */
.citrusEmbark__chooseTestContainer {
  margin: 40px auto;
}
.citrusEmbark__testType {
  width: 680px;
  max-width: 100%;
  margin: auto;
  overflow: auto;
}
.citrusEmbark__testTypeRow {
  display: flex;
  flex-direction: row;
}
.citrusEmbark__testTypeCard {
  width: 226px;
  max-width: 100%;
  margin: auto;
}
.citrusEmbark__testTypeCard img {
  max-width: 100%;
  object-fit: contain;
}
.citrusEmbark__testTypeCardTitle {
  margin: 0;
  font-family: "PetcoCircularTT-Regular";
  font-weight: normal;
  font-size: 16px;
  color: #000;
}
.citrusEmbark__cardCTA {
  margin-top: 20px;
}
.citrusEmbark__cardCTA a {
  font-family: "PetcoCircularTT-Bold";
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
  color: #001952;
}

/* highly recommend Embark section */
.citrusEmbark__recommendContainer {
  margin: 40px auto;
}
.citrusEmbark__testTypeContainer {
  width: 1050px;
  max-width: 100%;
  margin: auto;
  overflow: auto;
}
.citrusEmbark__testRow {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.citrusEmbark__testCard {
  width: 327px;
  max-width: 100%;
  margin: auto;
  text-align: center;
}
h3.citrusEmbark__cardTitle {
  margin: 30px 0 0 0;
  font-family: "PetcoCircularTT-Bold";
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-align: center;
}
.citrusEmbark__cardBody p {
  margin: 30px 0;
  font-family: "PetcoCircularTT-Regular";
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #000;
}
.citrusEmbark__disclaimerContainer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
p.citrusEmbark__disclaimer {
  margin: 0;
  font-family: "PetcoCircularTT-Regular";
  font-size: 12px;
  color: #000;
}

/* footer style */
.citrusEmbark__footer {
  margin-top: 90px;
  /* margin-bottom: 60px; */
  width: 100%;
  max-width: 100%;
  background: #5bdbe630;
}
.citrusEmbark__footerRow {
  width: 1150px;
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  position: relative;
}
.citrusEmbark__iframe {
  position: relative;
  top: -30px;
}
.citrusEmbark__iframe iframe {
  width: 100%;
  max-width: 100%;
  margin: auto;
  height: 317px;
}
.citrusEmbark__footerText {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.citrusEmbark__footerText p {
  width: 395px;
  max-width: 80%;
  margin: 10px 0 20px;
  font-family: "PetcoCircularTT-Regular", arial !important;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  text-align: center;
}
.citrusEmbark__footerCTA,
.citrusEmbark__CTA {
  display: flex;
  justify-content: center;
}
.citrusEmbark__CTA button,
.citrusEmbark__footerCTA button {
  border: 0;
  background: #001952;
  color: #fff;
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-weight: bold;
  font-size: 16px;
  width: 211px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  text-transform: uppercase;
  cursor: pointer;
}
/* ------------------------------- */
/* responsive style start */
/* ------------------------------- */

@media all and (min-width: 769px) and (max-width: 1250px) {
  /* footer style */
  .citrusEmbark__footerRow {
    width: 95%;
  }
}

@media all and (max-width: 768px) {
  /* common style */
  .citrusEmbark__desktop_hide {
    display: block;
  }
  .citrusEmbark__mobile_hide {
    display: none;
  }
  h2.citrusEmbark__sectionTitle,
  p.citrusEmbark__sectionSubtitle {
    width: 95%;
    margin: auto;
  }
  p.citrusEmbark__sectionSubtitle {
    padding: 20px 0;
  }
  /* footer style */
  .citrusEmbark__CTA button,
  .citrusEmbark__footerCTA button {
    color: #001952;
    background: none;
    width: fit-content;
    height: fit-content;
    text-transform: capitalize;
    text-decoration: underline;
  }
  .citrusEmbark__footerRow {
    display: flex;
    flex-direction: column;
  }
  .citrusEmbark__footerCol.order1 {
    order: 2;
  }
  .citrusEmbark__footerCol.order2 {
    order: 1;
  }
  .citrusEmbark__iframe {
    top: 3px;
  }
  .citrusEmbark__footerText {
    padding-top: 40px;
  }
}
@media screen and (max-width: 375px) {
  .citrusEmbark__testCard {
    width: 230px;
  }
}
